body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar{
  max-width: 250px;
  border: 1px solid white;
  background-color: white;
  height: 100vh;
  opacity: 1;
  z-index: 1;
}

.mainContainer {
  position: relative; 
  height: 100vh;
  width: 100%;
  display: flex;
  
  
}

.mainContainer a{
  text-decoration: none;
  color: black;
}

.mainContainer::before{
  content: "";
  background-image: url(./Images/Background.jpg);
  height: 100vh;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-size: cover;
  opacity: 0.2;
  
  /*to add a dark overlay: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
*/
}


/* content previews / list     */
.content-preview{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid white;
}

.content-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.content-preview h2{
  font-size: 20px;
  color: black;
  margin-bottom: 8px;
}

.content-preview a{
  text-decoration: none;
}


.root{
  background-color: blue;
}

/** Learning content */
